<div class="row">
  {{#if products}}
    <div class="card w-100">
      <div class="card-body">
        <h1 class="card-title display-4 d-flex justify-content-between align-items-center">Lista de productos 
          <a href="/products/add" class="d-flex justify-content-center">
            <i class="fas fa-plus-square" style="color: #2780e3 "></i>
          </a>
        </h1>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Producto</th>
              <th scope="col">Piezas</th>
              <th scope="col">Tipo</th>
              <th scope="col">Peso</th>
              <th scope="col">Valoración</th>
              <th scope="col">Precio</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
              <tr>
                <td>{{codigo}}</td>
                <td>{{nombre}}</td>
                <td>{{piezas}}</td>
                <td>
                  {{#if tipo}}
                    Variable
                  {{else}}
                    Constante
                  {{/if}}
                </td>
                <td>
                  {{#if peso}}
                    {{peso}} gr.
                  {{/if}}  
                </td>
                <td>
                  {{#if valoracion}}
                    S/ {{valoracion}}
                  {{/if}}
                </td>
                <td>S/ {{precio}}</td>
                <td>
                  <a href="/products/edit/{{_id}}" class="d-flex justify-content-center">
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
                <td>
                  <a href="/products/delete/{{_id}}" class="d-flex justify-content-center">
                    <i class="fas fa-trash-alt" style="color: red;"></i>
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <p class="lead">No hay productos</p>
        <a href="/products/add" class="btn btn-success btn-block">Crear producto</a>
      </div>
    </div>
  {{/if}}
</div>