<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Nuevo Producto</h3>
    </div>
    <div class="card-body">
      <form action="/products/new-product" method="POST">
        <div class="form-group">
          <input type="text" name="codigo" class="form-control" placeholder="Código del Producto" value="{{codigo}}">
        </div>
        <div class="form-group">
          <input type="text" name="nombre" class="form-control" placeholder="Nombre de Producto" autofocus value="{{nombre}}">
        </div>
        <div class="form-group">
          <input type="number" name="piezas" class="form-control" placeholder="Numero de Piezas" min="1" value="{{piezas}}">
        </div>

        <div class="form-group">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary">
              <input type="radio" name="tipo" onclick="mostrarConstante()" value="0" checked> Precio CONSTANTE de producto
            </label>
            <label class="btn btn-outline-primary">
              <input type="radio" name="tipo" onclick="mostrarVariable()" value="1"> Precio VARIABLE de producto
            </label>
          </div>
        </div>

        <div class="form-group" id="precio">
          <input type="number" name="precio" class="form-control" placeholder="Precio del Producto">
        </div>

        <div class="form-group" id="peso">
          <input type="number" name="peso" class="form-control" placeholder="Peso del Producto">
        </div>
        <div class="form-group" id="valoracion">
          <select name="valoracion" class="form-control">
            <option value="">Valoración del producto</option>
            {{#each values}}
            <option value="{{_id}}">{{nombre}}: ----- S/ {{precio}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar Producto
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript"> 
  document.getElementById('precio').style.display="block"
  document.getElementById('peso').style.display="none"
  document.getElementById('valoracion').style.display="none"

  function mostrarConstante(){
    document.getElementById('precio').style.display="block"
    document.getElementById('peso').style.display="none"
    document.getElementById('valoracion').style.display="none"
  }

  function mostrarVariable(){
    document.getElementById('precio').style.display="none"
    document.getElementById('peso').style.display="block"
    document.getElementById('valoracion').style.display="block"
  }
</script>