<div class="row">
  {{#if items}}
    <div class="card w-100">
      <div class="card-body">
        <h1 class="card-title display-4 d-flex justify-content-between align-items-center">Lista de productos en {{shop.nombre}}
          <a href="/shops" class="btn btn-outline-primary btn-lg d-flex justify-content-center">
            Listar Tiendas
          </a>
          <a href="/products/deliver" class="d-flex justify-content-center">
            <i class="fas fa-plus-square" style="color: #2780e3 "></i>
          </a>
        </h1>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Piezas</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Entregar</th>
              <th scope="col">Corregir</th>
            </tr>
          </thead>
          <tbody>
            {{#each items}}
              <tr>
                <td>{{idProducto.codigo}}</td>
                <td>{{idProducto.nombre}}</td>
                <td>{{idProducto.piezas}}</td>
                <td>{{cantidad}}</td>
                <td>
                  <a href="/products/stock-deliver/{{_id}}" class="d-flex justify-content-center">
                    <i class="fas fa-share-square"></i>
                  </a>
                </td>
                <td>
                  <a href="/products/stock-quantity/{{_id}}" class="d-flex justify-content-center">
                    <i class="fas fa-edit" style="color: red"></i>
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <p class="lead">No hay productos en stock</p>
        <a href="/products/deliver" class="btn btn-success btn-block">Entregar producto</a>
      </div>
    </div>
  {{/if}}
</div>