<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <h1 class="card-title display-4 d-flex justify-content-between align-items-center">Lista de Ventas de {{local.nombre}}
        <a href="/shops" class="btn btn-outline-success">Listar tiendas</a>
        <a href="/shops/close-shop/{{local._id}}" class="btn btn-outline-danger">Cerrar Tienda</a>
      </h1>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Hora</th>
            <th scope="col">Código</th>
            <th scope="col">Producto</th>
            <th scope="col">Piezas</th>
            <th scope="col">Precio sugerido</th>
            <th scope="col">Precio de venta</th>
            <th scope="col">Forma de pago</th>
            <th scope="col">Vendedor</th>
          </tr>
        </thead>
        <tbody>
          {{#each ventas}}
            <tr>
              <td>{{fecha}}</td>
              <td>{{idProducto.codigo}}</td>
              <td>{{idProducto.nombre}}
                {{#if idProducto.peso}}
                  {{idProducto.peso}} gr.
                {{/if}}   
              </td>
              <td>{{idProducto.piezas}}</td>
              <td>S/ {{precio}}</td>
              <td>S/ {{precioVenta}}</td>
              <td>{{formaPago}}</td>
              <td>{{vendedor}}</td>
            </tr>
          {{/each}}
          {{#each pagos}}
            <tr>
              <td>{{fecha}}</td>
              <td>Ingreso</td>
              <td colspan="3">Concepto: {{concepto}}</td>
              <td>S/ {{monto}}</td>
              <td>{{formaPago}}</td>
              <td>{{vendedor}}</td>
            </tr>
          {{/each}}
            <tr>
              <td colspan="3"></td>
              <td colspan="2">Total ventas en efectivo:</td>
              <td><h3>{{enEfectivo}}</h3></td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td colspan="2">Total ventas con tarjeta:</td>
              <td><h3>{{conTarjeta}}</h3></td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>Total ventas:</td>
              <td><h3>{{total}}</h3></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>