<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">{{local.nombre}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" class="backgroun-#eee">
    <div class="card w-100">
      <div class="card-body">
        <h3 class="card-title">Buscar producto para vender:</h3>
          <form action="/products/search-product/{{local._id}}" method="POST">
            <div class="input-group mb-3">
              <input type="text" name="buscar" class="form-control" placeholder="Ingresar código de barras">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Buscar</button>
              </div>
            </div>
          </form>
      </div>
    </div>
      {{#if products}}
        <div class="card">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Agregar</th>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                  <tr>
                    <td>{{codigo}}</td>
                    <td>{{nombre}} 
                      {{#if peso}}
                        {{peso}} gr.
                      {{/if}}
                    </td>
                    <td>{{piezas}}</td>
                    <td>S/ {{precio}}</td>
                    <td>
                      <a href="/sales/product-sale" class="d-flex justify-content-center">
                        <i class="fas fa-plus-square"></i>
                      </a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      {{else}}
        <div class="card">
          <div class="card-body">
            <p class="lead">Busca producto para agregar</p>
          </div>
        </div>
      {{/if}}
  </div>
  <div class="col-sm-6">

  </div>
</div>