<div class="row">
  {{#each shops}}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-items-center">
            {{nombre}}
            <a href="/shops/edit/{{_id}}">
              <i class="fas fa-edit"></i>
            </a>
          </h4>
          <p>{{direccion}}</p>
          <p>En Efectivo: S/ {{efectivo}}</p>
          <p>Con Tarjeta: S/ {{tarjeta}}</p>
          <p>
            {{#if estado}}
              <a href="/sales/history/{{_id}}" class="btn btn-success btn-block btn-sm">Abierto</a>
            {{else}}
              <button class="btn btn-primary btn-block btn-sm">Cerrado</button>
            {{/if}}
          </p>
          <p>
            <a href="/products/stock/{{_id}}" class="btn btn-primary btn-block btn-sm">Productos</a>
          </p>
          <p>
            <a href="/sales/history2/{{_id}}" class="btn btn-primary btn-block btn-sm">Historial Ventas</a>
          </p>
          <p>
            <a href="/shops/close-shop/{{_id}}" class="btn btn-primary btn-block btn-sm">Cerrar Tienda</a>
          </p>
          <button class="btn btn-danger btn-block btn-sm">Eliminar</button>
          {{!-- <form action="/shops/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" id="DELETE">
            <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar</button>
          </form> --}}

        </div>
      </div>
    </div>
  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <p class="lead">No hay Tiendas</p>
        <a href="/shops/add" class="btn btn-success btn-block">Registrar tienda</a>
      </div>
    </div>
  {{/each}}
</div>